table {
    border-collapse: collapse;
}

.table__container {
    overflow-y: auto;
}

.table__container > table {
    width: 100%;
}

.table__container > table tr {
    border-bottom: 1px solid #EEEEEE;
}

.column {
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #797979;
    padding-bottom: 15px;
    padding-left: 10px;
    box-sizing: border-box;
}

td {
    padding: 15px 0;
    box-sizing: border-box;
}

